@import '../../scss/variables';
@import '../../scss/media';

.movies-grid {
  padding: 0 3rem 1rem 3rem;
  @include tablet {
    padding: 1rem;
  }
  &__wrapper {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    &__btns {
      text-align: center;
    }
    &__card {
      &__poster {
        border-radius: 1rem;
        width: 300px;
        height: 450px;
        object-fit: cover;
      }
      &__descr {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      p {
        font-weight: 600;
      }
      p > span {
        font-weight: normal;
        color: #ccc;
      }
    }
  }
}

.search {
  padding: 0 3rem 1.5rem 3rem;
  text-align: center;
  @include tablet {
    padding: 1rem;
  }
  &__input,
  &__btn {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  &__input {
    border-radius: 1rem 0 0 1rem;
  }
  &__btn {
    border-radius: 0 1rem 1rem 0;
    background-color: $hover-color;
    color: #fff;
    cursor: pointer;
  }
}
