@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$body-color: #fff;
$text-color: #fff;
$main-color: rgb(3, 37, 65);
$gradient: linear-gradient(to right, #76b852, #8dc26f, #57c1eb);
$font-family: 'Montserrat', sans-serif;
$mobile-width: 600px;
$tablet-width: 1024px;
$hover-color: #57c1eb;
$overlay: rgba(
  $color: #000000,
  $alpha: 0.7,
);
$green: #8dc26f;
